
@{
    ViewBag.Title = "Turnos Reservados - Inicio";
}

<h2>Turnos Reservados</h2>


<div class="row">
    <div class="col-md-4">
        <h3>Médicos</h3>
        <p>Buscar turnos reservados de un Médico.</p>
        <p>@Html.ActionLink("Buscar", "ListaDeMedicos", new { }, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h3>Especialidad</h3>
        <p>Buscar turnos reservados de una Especialidad.</p>
        <p>@Html.ActionLink("Buscar", "ListaDeEspecialidades", new { }, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h3>Paciente</h3>
        <p>Buscar turnos reservados de un Paciente.</p>
        <p>@Html.ActionLink("Buscar", "ListaDePacientes", new { }, new { @class = "btn btn-primary" })</p>
    </div>
</div>

