@model IEnumerable<WebAppMedOffices.Models.Especialidad>

@{
    ViewBag.Title = "Lista de Especialidades";
}

<h2>Especialidades</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Turnos reservados", "TurnosReservadosPorEspecialidad", new { especialidadId = item.Id }, new { @class = "btn btn-success" })
        </td>
    </tr>
}

</table>
